h1 {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

h1:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
