<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ひらめきリレー</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>ひらめきリレー</h1>
        <p>新しい画面です</p>
        <form method="post" action="{{ url_for('register') }}">
            <table border="3">
                <tr>
                    <th>タイトル</th>
                    <th>詳細</th>
                    <th>カテゴリ</th>
                </tr>


                <tr>
                    <td><input type="text" name="title"></td>
                    <td><textarea name="detail"></textarea></td>
                    <td><select name="category">
                        <option value="ビジネス・業務効率化">ビジネス・業務効率化</option>
                        <option value="教育">教育</option>
                        <option value="エンタメ">エンタメ</option>
                        <option value="クリエイティブ・創作支援">クリエイティブ・創作支援</option>
                        <option value="生活・ライフスタイル">生活・ライフスタイル</option>
                        <option value="コミュニケーション">コミュニケーション</option>
                        <option value="開発者ツール">開発者ツール</option>
                        <option value="その他">その他</option>
                    </select></td>
                </tr>
            </table>
        <br>
        <input type="submit" value="登録">
    </form>
    </body>
</html>