<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>ひらめきリレー</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>ひらめきリレー</h1>
        <h2>ひらめきをリレーするゲームです。</h2>

        {% if items == [] %}
            <p>本がありません。</p>
        {% else %}
            <table border="3">
                <tr>
                    <th>タイトル</th>
                    <th>詳細</th>
                    <th>カテゴリ</th>
                </tr>

                {% for item in items %}
                    <tr>
                        <td>{{ item['title'] }}</td>
                        <td>{{ item['detail'] }}</td>
                        <td>{{ item['category'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <a href="{{ url_for('form') }}">編集</a>
    </body>
</html>